<h1>this ...is my profile</h1>
<h2>username:  <%=  @user.username %></h2>
<h2>email: <%= @user.email %></h2>
<h2>id: <%= @user.id %></h2>
<h2> options: see, delete, edit</h2>


<h2> ADD links </h2>

<%= form_with model: @link, url: links_path do |form| %>

    <% if @link.errors.any? %>
        <div class="alert alert-danger">
            <% @link.errors.full_messages.each do | messages| %>
                <div><%= messages %></div>
            <% end %>
        </div>
    <% end %>
    <div class="mb-3">
        <%= form.label :app_name %>
        <%= form.text_field :app_name, class: "form-control", placeholder: "App Name"%>
    </div>
    <div class="mb-3">
        <%= form.label :url %>
        <%= form.text_field :url, class: "form-control", placeholder: "url" %>
    </div>
    <div class="mb-3">
        <% form.hidden_field :user, :value => @user %>
    </div>

    <div class="mb-3">
        <%= form.submit "SAVE", class: "btn btn-primary" %>
    </div>
<% end %>
    