<h1>Your Profile</h1>

<br>


<%= form_with model: @user, url: users_path do |form| %>

    <% if @user.errors.any? %>
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do | messages| %>
                <div><%= messages %></div>
            <% end %>
        </div>
    <% end %>
    <div class="mb-3">
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control", placeholder: "username"%>
    </div>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "myname@hello.com" %>
    </div>
    <div class="mb-3">
        <%= form.label :description%>
        <%= form.text_field :description, class: "form-control", placeholder: "description" %>
    </div>

    <div class="mb-3">
        <%= form.submit "SAVE", class: "btn btn-primary" %>
    </div>
<% end %>